<!--Tom Smolarek 1801495-->

<ion-header>
  <ion-navbar>
    <!--connection to the menu navigation-->
    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Song Lyrics</ion-title>
  </ion-navbar>
</ion-header>

<!--buttons for getting to the AboutPage, AddSongPage and RegisterPage-->
<ion-content padding>
  <ion-buttons>
    <button ion-button full color="dark" navPush="AboutPage">What is Song Liyrics about?</button>
    <div text-center>
      <button ion-button navPush="AddSongPage">Add Song</button>
      <button ion-button navPush="RegisterPage">Add Band</button>
    </div>
  </ion-buttons>

  <!--list for selecting a spesific band to see their songs -->
  <ion-list>
    <ion-item>
      <ion-label>Show Songs From Band</ion-label>
      <ion-select (ionChange)="onContextChange($event)" [(ngModel)]="band" multiple="false" cancelText="cancel" okText="Show songs from selected">
        <ion-option *ngFor="let band of bandsList$ | async" detail-push>{{band.name}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <!--list of all songs or only from the band selected before-->
  <ion-list>
    <ion-list-header>Songs:</ion-list-header>

    <ion-item *ngFor="let song of songsList$ |async" detail-push navPush="ViewSongPage" [navParams]="{song:song}">
      {{song.title}}
    </ion-item>
  </ion-list>

  <!--buttons for getting to the LoginPage, invitePage or for calling the showAllSongs()-->
  <ion-buttons>
    <div text-center>
      <button ion-button color="danger" navPush="LoginPage">
        Logout
      </button>
      <button ion-button (click)="showAllSongs()">
        Show All Songs
      </button>
      <button ion-button navPush="InvitePage">
        Invite
      </button>
    </div>
  </ion-buttons>
</ion-content>